    <section class="slide whiteSlide">
        <div class="content">
          <div class="container">
            <div class="wrap">
                <p id="notice"><%= notice %></p>
              <!-- <h1 class="ae-1">Post</h1> -->
               <p><strong>Title:</strong>
               <%= @post.title %></p>

                <p>
                  <strong>Description:</strong>
                  <%= @post.description %>
                </p>

<!-- <div><%= link_to 'Edit', edit_post_path(@post), class:"button gray" %></br> -->
<%= link_to 'Read Stories', posts_path, class:"button blue"%></div>
</div> </div>
